<h1>Edit <%= @discount.name %> </h1>
<%= form_with model: [@merchant, @discount], local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :percentage %>
<%= f.number_field :percentage %>
<%= f.label :threshold %>
<%= f.number_field :threshold %>
<%= f.submit "Submit" %>
<% end %>
