<h1><%= @merchant.name%> </h1>
<%= link_to "Create Discount", new_merchant_discount_path(@merchant) %>
<% @discounts.each do |discount| %>
<ul>
  <section id="discount-<%=discount.id %>">
  <li>Name: <%= link_to "#{discount.name}", merchant_discount_path(@merchant, discount) %></li>
  <li>Percentage: <%= discount.percentage %></li>
  <li>Quantity: <%=  discount.threshold %></li>
</section>
</ul>
<% end %>
